
body{
  background-color: hsl(217, 54%, 11%);
  font-family: 'Outfit', sans-serif;
  margin: auto;
  line-height: 1.5;
}

.nft{
  width: 275px;
  border-radius: 10px;
  position: absolute;
}

.nft:hover{
  opacity: 0.5;
}

.image{
  width: 275px;
  height: 275px;
  background-color: hsl(216, 50%, 16%);
  display: inline-block;
  margin: 25px 25px 20px 25px;
  border-radius: 10px;
  position: relative;
}

.view{
  position: absolute;
  top: 113.5px;
  left: 113.5px;
}

.image:hover{
  background-color:  hsl(178, 100%, 50%);
}

.eth{
margin-left: 25px;
margin-right: 6px;
position: relative;
top:4px;
}

h3{
  color: white;
  font-size: 1.35rem;
  margin: 0 25px;
}

h3:hover{
  color:  hsl(178, 100%, 50%);
  cursor: default;
}

.desc{
  color: #889ebf;
  font-weight: 200;
  margin: 12px 25px;
}

.card{
  background-color: hsl(216, 50%, 16%);
  width: 325px;
  border-radius: 15px;
  position: relative;
  margin: 100px auto;
}

.price, .days{
  display:inline-block;
  margin-top: 5px;
  margin-bottom: 12px;
}

.price{
  color: hsl(178, 100%, 50%);
  font-size: 0.95rem;
}

.days{
  position: absolute;
  right: 25px;
  color: #889ebf;
}

.clock{
  position: relative;
  top: 3px;
}

.footer{
  text-align: center;
}

.fs, .fm{
  margin: 20px;
  display: inline-block;
  color: #889ebf;
}

.attribution {
  font-size: 11px;
  text-align: center;
  display: inline-block;
  width: 60%;

}

.attribution a {
   color: hsl(228, 45%, 44%);
 }

hr{
  color: hsl(215, 32%, 27%);
  border-style: solid none none;
  width: 275px;
  margin-top: 5px;

}

.creator{
  color: #889ebf;
  margin-top: 20px;
  padding-bottom: 30px;
  text-align: center;
}

.name{
  color: white;
  font-weight: 200;
  font-size: 0.95rem;
}

.name:hover{
  color:  hsl(178, 100%, 50%);
  cursor: default;
}

.avatar{
  width: 30px;
  border-style: solid;
  border-radius: 30px;
  border-width: 1px;
  border-color: white;
  position: absolute;
  margin-left: 25px;
  margin-top: 10px;
  bottom: 25px;
}
